// * {
//     border: 1px solid red;
// }

.helperInnerContainer {
    margin-top: 64px;
    text-align: center;

    .contentTitle {
        margin-bottom: 50px;

        h2 {
            line-height: 1.3;
            font-size: 34px;
            font-weight: 200;
        }
    }

    .contentPara {
        margin-bottom: 30px;

        p {
            line-height: 1.5;
            text-transform: none;
            margin-top: 0;
            font-size: 23px;
            font-weight: 100;
        }
    }

}

.helperBtn {
    display: flex;
    justify-content: center;
}