//modal 라이브러리 : yarn add react-addons-css-transition-group
// .innerModal {
//   position: absolute;
//   z-index: 999;
//   transform: translate(50%, 0);
//   margin: auto 0;
//   pointer-events: inherit;
//   top: 0;
// }

// .hiddenModal {
//   display: none
// }

.Modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  transform: none;
  background-color: rgba(0, 0, 0, 0.5);

  &.Modal-anim-enter {
    opacity: 0;
    transition: all 0.5s;
  }

  &.Modal-anim-enter.Modal-anim-enter-active {
    opacity: 1;
  }

  &.Modal-anim-leave {
    opacity: 1;
    transition: all 0.5s;
  }

  &.Modal-anim-leave.Modal-anim-leave-active {
    opacity: 0;
  }

  .Modal {
    width: 100%;
    max-width: 513px;
    min-height: 420px;
    max-height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    &.Modal-anim-enter {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.1);
      transition: all 0.2s;
    }

    &.Modal-anim-enter.Modal-anim-enter-active {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }

    &.Modal-anim-leave {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.5s;
    }

    &.Modal-anim-leave.Modal-anim-leave-active {
      opacity: 0;
      transform: translate(-50%, -50%) scale(2.9);
    }

    .modalCloseButton {
      cursor: pointer;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 72px;
      height: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;

      .closeButtonImage {
        width: 24px;
        height: 24px;
      }
    }
  }

  .modalContentWrap {
    padding: 0px 22px 80px;
    color: rgb(46, 48, 53);

    .modalContentInner {
      padding-top: 55px;
      padding-bottom: 24px;
      font-weight: normal;

      .modalTopTitle {
        display: flex;
        font-size: 34px;
        font-weight: bold;
        margin-bottom: 32px;
      }

      .serviceContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .lifeBox {
          width: 100%;
          position: relative;
          height: 200px;
          margin-bottom: 16px;
          cursor: pointer;
        }

        .boxImg {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
          z-index: -1;
        }

        .textWrap {
          position: absolute;
          top: 31px;
          left: 24px;

          .mainTitle {
            font-size: 23px;
            font-weight: bold;
            margin-bottom: 8px;
          }

          .subTitle {
            color: rgb(46, 48, 53);
            font-size: 15px;
          }
        }
      }
    }
  }
}