.dailyBtn {
    border-style: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.dailyBtnComment {
    font-size: 15px;
    margin-right: 1px;
    font-weight: bold;
    color: rgb(5, 92, 245);
}