@media only screen and (min-device-width: 500px) {
  .submitBtn {
    width: 100%;
    height: 48px;
    font-size: 16px;
    padding: 12px 0 12px 0;
    margin-top: 20px;
    background-color: rgb(5, 92, 245);
    border: rgb(5, 92, 245);
    color: white;
  }

  .typeBox {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    border: 1px solid #e0e0e0;
    font-size: 17px;
    padding: 14px 16px;
    margin-top: 16px;
  }
}
